<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>droidrunco</title>
<link href="public/assets/mdb.min.css" rel="stylesheet"/>
<link href="public/assets/all.min.css" rel="stylesheet"/>
<link href="public/assets/style.css" rel="stylesheet"/>
<script type="text/javascript" src="public/assets/mdb.min.js"></script>
<script type="text/javascript" src="public/assets/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="input-group flex-nowrap p-4">
      <input type="text" class="form-control" placeholder="Search an app's label or package name" aria-label="appOrPackage" aria-describedby="addon-wrapping" id="search">
    </div>
    <div class="accordion" id="accordion"></div>
    </div>
  </div>
</body>
<script type="text/javascript" src="public/assets/script.js"></script>
</html>
