<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title>droidrunco</title>
    <link type="text/css" rel="stylesheet" href="public/assets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;500&display=swap" rel="stylesheet">

    <script
	src="https://code.jquery.com/jquery-3.6.1.min.js"
	integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
	crossorigin="anonymous"></script>
    <script
	src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
	integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
	crossorigin="anonymous"></script>
  </head>
  <body>
    <main>
	<div class="search-container">
	<input class="search" type="text" placeholder="Search for app / package"></input>
	</div>
	<div class="container"></div>
    </main>
    <script type="text/javascript" src="public/assets/main.js"></script>
  </body>
</html>
