# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Set up Just
      uses: extractions/setup-just@v1
    
    - name: Build
      run: just clean-build

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.0.0
      with:
        # Artifact name
        name: droidrunco
        # A file, directory or wildcard pattern that describes what to upload
        path: build/droidrunco-*
